name: Build

on:
  push:
    branches:
      - master

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    env:
      CIBW_SKIP: pp*
      CIBW_ARCHS_MACOS: x86_64 arm64
      CIBW_ARCHS_LINUX: x86_64 aarch64

    steps:
      - uses: actions/checkout@v5

      # Used to host cibuildwheel
      - uses: actions/setup-python@v6
        with:
          python-version: '>=3.11'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.2.1

      - name: Install QEMU and emulation on the Ubuntu runner
        if: runner.os == 'Linux'
        run: sudo apt install qemu-user-static

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v5
        with:
          name: cibw-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  upload_pypi:
    needs: [build_wheels]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          skip_existing: true
